@namespace Belin.UI.UI.Components

<div class="alert alert-@Context.CssClass @(Dismissible ? "alert-dismissible" : "") @(Fade ? "fade show" : "") @CssClass">
	<div class="d-flex align-items-center">
		<i class="icon flex-shrink-0 me-2">@(Icon.Length > 0 ? Icon : Context.Icon)</i>
		<div>@ChildContent</div>
	</div>
	@if (Dismissible) { <button class="btn-close" data-bs-dismiss="alert" type="button"></button> }
</div>

@code {
	/// <summary>
	/// The child content.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// A contextual modifier.
	/// </summary>
	[Parameter]
	public Context Context { get; set; } = Context.Info;

	/// <summary>
	/// The CSS class string to apply to the underlying element.
	/// </summary>
	[Parameter]
	public string CssClass { get; set; } = "";

	/// <summary>
	/// Value indicating whether this alert can be dismissed.
	/// </summary>
	[Parameter]
	public bool Dismissible { get; set; }

	/// <summary>
	/// Value indicating whether to apply a transition.
	/// </summary>
	[Parameter]
	public bool Fade { get; set; }

	/// <summary>
	/// The icon displayed next to the alert message.
	/// </summary>
	[Parameter]
	public string Icon { get; set; } = "";
}
