@namespace Belin.UI.Components

<theme-dropdown alignment="@Alignment" appTheme="@AppTheme" cookie="@Cookie" cookieDomain="@CookieDomain" label="@Label" storageKey="@StorageKey">
	<li class="nav-item dropdown">
		<button class="dropdown-toggle nav-link" data-bs-toggle="dropdown" type="button">
			<i class="icon icon-fill">@AppTheme.Icon</i>
			<span class="mx-1">@Label</span>
		</button>
		<ul class="dropdown-menu @(Alignment == Alignment.End ? "dropdown-menu-end" : "")">
			@foreach (var theme in Enum.GetValues<AppTheme>()) {
				<li>
					<button class="dropdown-item d-flex align-items-center justify-content-between" type="button" value="@theme">
						<span><i class="icon icon-fill me-1">@theme.Icon</i> @theme.Label</span>
						@if (theme == AppTheme) { <i class="icon ms-3">check</i> }
					</button>
				</li>
			}
		</ul>
	</li>
</theme-dropdown>

@code {
	/// <summary>
	/// The alignment of the dropdown menu.
	/// </summary>
	[Parameter]
	public Alignment Alignment { get; set; } = Alignment.End;

	/// <summary>
	/// The current application theme.
	/// </summary>
	[Parameter]
	public AppTheme AppTheme { get; set; } = AppTheme.System;

	/// <summary>
	/// Value indicating whether to store the application theme in a cookie.
	/// </summary>
	[Parameter]
	public bool Cookie { get; set; }

	/// <summary>
	/// The URI for which the associated cookie is valid.
	/// </summary>
	[Parameter]
	public string CookieDomain { get; set; } = "";

	/// <summary>
	/// The label of the dropdown menu.
	/// </summary>
	[Parameter]
	public string Label { get; set => field = value.Trim(); } = "Thème";

	/// <summary>
	/// The key of the storage entry providing the saved application theme.
	/// </summary>
	[Parameter]
	public string StorageKey { get; set => field = value.Trim(); } = "AppTheme";
}
