@namespace Belin.UI.Components
@using System.Globalization

<toaster-container autoHide="@AutoHide" context="@Context" culture="@Culture" delay="@Delay" fade="@Fade" icon="@Icon" position="@Position">
	<div class="toast-container p-3 @(Position.CssClass)">
		@ChildContent
	</div>

	<template>
		<Toast />
	</template>
</toaster-container>

@code {
	/// <summary>
	/// Value indicating whether to automatically hide the toasts.
	/// </summary>
	[Parameter]
	public bool AutoHide { get; set; }

	/// <summary>
	/// The child content.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// The default contextual modifier.
	/// </summary>
	[Parameter]
	public Context Context { get; set; } = Context.Info;

	/// <summary>
	/// The default culture used to format the relative times.
	/// </summary>
	[Parameter]
	public CultureInfo Culture { get; set; } = CultureInfo.CurrentCulture;

	/// <summary>
	/// The default delay, in milliseconds, to hide the toasts.
	/// </summary>
	[Parameter]
	public int Delay { get; set => field = Math.Max(1, value); } = 5_000;

	/// <summary>
	/// Value indicating whether to apply a transition.
	/// </summary>
	[Parameter]
	public bool Fade { get; set; }

	/// <summary>
	/// The default icon displayed next to the captions.
	/// </summary>
	[Parameter]
	public string? Icon { get; set; }

	/// <summary>
	/// The toaster placement.
	/// </summary>
	[Parameter]
	public Position Position { get; set; } = Position.BottomEnd;
}
